.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  padding: 0 20px;
}
.modal_opened {
  visibility: visible;
}

.modal__container {
  background: #fff;
  padding: 32px 50px;
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  border-radius: 8px;
}

.modal__close-btn {
  position: absolute;
  background-image: url(../images/Property\ 1=Variant2.svg);
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-size: contain;
  opacity: 40%;
  border: none;
  background-color: transparent;
  transition: opacity(100%) 0.3s ease;
  cursor: pointer;
}

.modal__close-btn:hover {
  opacity: 100%;
}

.modal__title {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  font-weight: 500;
  line-height: 110%;
}

.modal__input {
  padding: 16px 12px;
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
  border-radius: 8px;
  opacity: 40%;
  border: 1px solid #212121;
  transition: opacity(100%) 0.3s ease;
  cursor: pointer;
  color: #212121;
}

.modal__input:hover {
  opacity: 100%;
}

.modal__submit-btn {
  width: 156px;
  padding: 18px 0;
  border-radius: 8px;
  background-color: #212121;
  color: #fff;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }
  .modal__container {
    padding: 12px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__submit-btn {
    width: 100%;
  }

  .modal__input {
    font-size: 16px;
  }
}
