.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  padding: 0 20px;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.3s ease-in-out, transform 0.5s ease-in-out,
    visibility 0.3s;
}
.modal_opened {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.modal__container {
  background: #fff;
  padding: 32px 50px;
  max-width: 730px;
  box-sizing: border-box;
  position: relative;
  border-radius: 8px;
  width: 100%;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 8px;
  display: inline-block;
  text-align: left;
  object-fit: cover;
  position: relative;
}

.modal__close-btn {
  position: absolute;
  background-image: url(../images/editModalCloseBtnDefault.svg);
  top: 30;
  right: 50px;
  width: 40px;
  height: 40px;
  background-size: contain;
  border: none;
  background-color: transparent;
  transition: 0.3s ease;
  cursor: pointer;
}

.modal__close-btn:hover {
  background-image: url(../images/editModalCloseBtnHover.svg);
}

.modal__container_type_preview {
  padding: 0;
  background-color: transparent;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.modal__close-btn_type_preview {
  background-image: url(../images/previewModalCloseBtnDefault.svg);
  cursor: pointer;
  padding: 0;
  z-index: 1;
  position: absolute;
  top:0;
  right:-50px;

}

.modal__close-btn_type_preview:hover {
  background-image: url(../images/PreviewModalCloseBtnHover.svg);
}

.modal__caption {
  border-radius: 8px;
  background-color: #212121;
  padding: 4px 8px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 120%;
  font-size: 20px;
  color: #fff;
  margin: 0;
  margin-top: 8px;
  margin-right: auto;
}

.modal__title {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  font-weight: 500;
  line-height: 110%;
}

.modal__input {
  padding: 16px 12px;
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
  border-radius: 8px;
  border: 1px solid #212121;
  cursor: pointer;
  color: #212121;
  opacity: 0.4;
}

.modal__input_text-entered {
  opacity: 1;
  border: 1px solid rgba(33, 33, 33, 0.4);
}

.modal__input:hover {
  border: 1px solid rgba(33, 33, 33, 1);
  opacity: 1;
}

.modal__submit-btn {
  width: 156px;
  padding: 18px 0;
  border-radius: 8px;
  background-color: #212121;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.modal__submit-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px; /*this is the required space between the modal and the border of the page*/
  }

  .modal__container {
    padding: 12px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__submit-btn {
    width: 100%;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__close-btn_type_preview {
    top: -30px;
    right: 15px
  }
}
